香港 1 = Shadowsocks,example.com,443,chacha20,"pwd",obfs-name=tls,obfs-host=bing.com,fast-open=false,udp=false
台湾 1 = Shadowsocks,example.com,443,chacha20,"pwd",obfs-name=tls,obfs-host=bing.com,fast-open=false,udp=false
澳门 1 = Shadowsocks,example.com,443,chacha20,"pwd",obfs-name=tls,obfs-host=bing.com,fast-open=false,udp=false
美国 1 = Shadowsocks,example.com,443,chacha20,"pwd",obfs-name=tls,obfs-host=bing.com,fast-open=false,udp=false
日本 1 = Shadowsocks,example.com,443,chacha20,"pwd",obfs-name=tls,obfs-host=bing.com,fast-open=false,udp=false
韩国 1 = Shadowsocks,example.com,443,chacha20,"pwd",obfs-name=tls,obfs-host=bing.com,fast-open=false,udp=false
中国 1 = Shadowsocks,example.com,443,chacha20,"pwd",obfs-name=tls,obfs-host=bing.com,fast-open=false,udp=false
奈飞 1 = Shadowsocks,example.com,443,chacha20,"pwd",obfs-name=tls,obfs-host=bing.com,fast-open=false,udp=false
新加坡 1 = Shadowsocks,example.com,443,chacha20,"pwd",obfs-name=tls,obfs-host=bing.com,fast-open=false,udp=false
土耳其 1 = Shadowsocks,example.com,443,chacha20,"pwd",obfs-name=tls,obfs-host=bing.com,fast-open=false,udp=false
